.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translate3d(0, 40px, 0);
		transform: translate3d(0, 40px, 0);
	}

	to {
		opacity: 1;
		visibility: visible;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: translate3d(0, 40px, 0);
		transform: translate3d(0, 40px, 0);
	}

	to {
		visibility: visible;
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
