body {
    font-family: "Work Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
	font-weight: 400;
	text-align: left;
	margin: 0;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
	color: $primary_color;
    text-decoration: none;
    background-color: transparent;
}

button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}

button {
    border-radius: 0;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}