    /*
    Flaticon icon font: Flaticon
    Creation date: 07/05/2019 06:52
    */

    @font-face {
      font-family: "Flaticon";
      src: url(fonts/flaticon/font/Flaticon.eot);
      src: url(fonts/flaticon/font/Flaticon.eot?#iefix) format("embedded-opentype"),
      url(fonts/flaticon/font/Flaticon.woff2) format("woff2"),
      url(fonts/flaticon/font/Flaticon.woff) format("woff"),
      url(fonts/flaticon/font/Flaticon.ttf) format("truetype"),
      url(fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url(fonts/flaticon/font/Flaticon.svg#Flaticon) format("svg");
      }
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
      font-family: Flaticon;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    .fi:before{
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    .flaticon-responsive:before { content: "\f100"; }
    .flaticon-smartphone:before { content: "\f101"; }
    .flaticon-speedometer:before { content: "\f102"; }
    .flaticon-coin:before { content: "\f103"; }
    .flaticon-repair:before { content: "\f104"; }
    .flaticon-innovation:before { content: "\f105"; }
    .flaticon-web:before { content: "\f106"; }
    .flaticon-guarantee:before { content: "\f107"; }

    $font-Flaticon-responsive: "\f100";
    $font-Flaticon-smartphone: "\f101";
    $font-Flaticon-speedometer: "\f102";
    $font-Flaticon-coin: "\f103";
    $font-Flaticon-repair: "\f104";
    $font-Flaticon-innovation: "\f105";
    $font-Flaticon-web: "\f106";
    $font-Flaticon-guarantee: "\f107";