.block-23 ul {
	padding: 0;

	li, li>a {
		display: table;
		line-height: 1.5;
		margin-bottom: 15px;
	}

	li {
		.icon {
    		width: 40px;
			font-size: 18px;
			padding-top: 2px;
			color: #fff;

			img {
				vertical-align: top;
			}
		}
		.icon, .text {
			display: table-cell;
			vertical-align: top;
		}

		span {
			color: #ffffff;
		}
	}
}